$TTL 10800
$ORIGIN 0.0.10.in-addr.arpa.
@	IN SOA dns.projetdns.com. root.projetdns.com. (
	2021012601; # Numéro de série
	3h; # temps de rafraichissement
	1h; # temps entre les essais
	1w; # temps d'expiration
	1h); # valeur TTL minimum

@	IN NS dns.projetdns.com.
@   IN NS dnsesclave.projetdns.com.
@   IN PTR    projetdns.com.


dns               IN    A    10.0.0.2
dnsesclave        IN    A    10.0.0.3

;Traduction de l'adresse IP en nom d'hôte
2			IN 		PTR 	dns.projetdns.com.
3			IN 		PTR		dnsesclave.projetdns.com.
81			IN		PTR		pc.projetdns.com.

